:root {
    --blue: #1c75bc;
    --indigo: #6610f2;
    --purple: #f0f;
    --pink: #e83e8c;
    --red: #a91f23;
    --orange: #fd7e14;
    --yellow: #f26b30;
    --green: #89c03f;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #154476;
    --secondary: #f26b30;
    --success: #89c03f;
    --info: #17a2b8;
    --warning: #f05a28;
    --danger: #ed1d24;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1260px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-family: var(--font-family-sans-serif);
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(10, 10, 10, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #e2e2e2;
}

a {
    color: #154476;
    background-color: transparent
}

a,
a:hover {
    text-decoration: none
}

a:hover {
    color: #091f35
}


.header {
    position: sticky;
    top: 0;
    height: 94px;
    background-color: #eaeced;
    z-index: 1030
}

.header .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background-color: #154476;
    pointer-events: none
}

.header .header-bg:after {
    content: " ";
    position: absolute;
    top: 38px;
    right: 0;
    display: block;
    width: 50%;
    height: 54px;
    background-color: #eaeced
}

.header .top-button-container {
    position: absolute;
    top: 0;
    left: 194px;
    right: 0;
    height: 38px;
    padding: 4px
}

.header .top-button-container .btn,
.header .top-button-container .link-btn {
    font-size: .875rem
}

.header .top-button-container .transport-registration-btn {
    display: block
}

.header .top-button-container .header--top-links-dropdown {
    display: inline-block;
    height: 30px;
    margin-left: 15px
}

.header .top-button-container .header--top-links-dropdown .dropdown-toggle {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    color: #fff
}

.header .top-button-container .header--top-links-dropdown .dropdown-toggle:hover {
    color: #f26b30
}

.header .top-button-container .header--top-links-dropdown .dropdown-menu {
    background: #154476;
    padding: 0
}

.header .top-button-container .header--top-links-dropdown .dropdown-menu a {
    line-height: 24px
}

.header .top-button-container .header--top-links-dropdown .dropdown-item {
    color: #fff;
    border-top: 1px solid hsla(0, 0%, 100%, .4)
}

.header .top-button-container .header--top-links-dropdown .dropdown-item .header--top-links-icon {
    margin-right: 10px;
    height: 14px;
    width: 14px;
    fill: #fff
}

.header .top-button-container .header--top-links-dropdown .dropdown-item:hover {
    background: #eaeced;
    color: #f26b30
}

.header .top-button-container .header--top-links-dropdown .dropdown-item:hover .header--top-links-icon {
    fill: #f26b30
}

.header .hot-button-container {
    position: absolute;
    top: 38px;
    left: 165px;
    right: 0;
    height: 54px;
    padding-left: 30px;
    padding-right: 10px;
    background-color: #eaeced
}

.header .hot-button-container:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 18px;
    border-top: 18px solid #154476;
    border-right: 30px solid transparent
}

.header .hot-button-container .btn-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .875rem;
    color: #212529
}

.header .hot-button-container .btn-icon svg {
    width: 20px;
    height: 20px
}

.header .hot-button-container .btn-icon-order-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .875rem;
    color: #212529
}

.header .hot-button-container .btn-icon-order-create svg {
    width: 20px;
    height: 20px
}

.header .navbar {
    padding: 0;
    position: relative
}

.header .navbar .nav-item {
    border-top: 1px solid #fff
}

.header .navbar .nav-item:last-child {
    border-bottom: 1px solid #fff
}

.header .navbar .nav-item>.nav-link {
    color: #212529;
    padding: 15px 20px
}

.header .navbar .nav-item>.nav-link.active {
    background: #1c75bc;
    color: #fff
}

.header .navbar .nav-item>.nav-link:hover {
    color: #f26b30
}

.header .navbar .nav-item.dropdown .dropdown-toggle:after {
    position: absolute;
    right: 15px;
    top: 24px;
    border-top: .5em solid #f26b30;
    border-right: .5em solid transparent;
    border-bottom: 0;
    border-left: .5em solid transparent;
    vertical-align: .15em
}

.header .navbar .nav-item.dropdown .dropdown-menu {
    border: none
}

.header .navbar .nav-item.dropdown .dropdown-item {
    padding: 10px 20px
}

.header .navbar-brand {
    position: relative;
    height: 56px;
    width: 165px;
    padding: 10px;
    margin-right: 0
}

.header .navbar-brand img {
    display: block;
    height: 36px;
    width: auto;
    max-width: 100%
}

.header .sidebar-toggle {
    position: absolute;
    top: 56px;
    left: 10px;
    width: 38px;
    height: 38px;
    padding: .25rem .4rem;
    border: none
}

.header .sidebar-toggle span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #154476;
    -webkit-transition: all .1s cubic-bezier(.81, -.33, .345, 1.375);
    transition: all .1s cubic-bezier(.81, -.33, .345, 1.375)
}

.header .sidebar-toggle span:first-of-type {
    -webkit-transform: rotate(45deg) translate(2px, 2px);
    transform: rotate(45deg) translate(2px, 2px)
}

.header .sidebar-toggle span:nth-of-type(2) {
    opacity: 0
}

.header .sidebar-toggle span:last-of-type {
    -webkit-transform: rotate(-45deg) translate(1px, -1px);
    transform: rotate(-45deg) translate(1px, -1px)
}

.header .sidebar-toggle.collapsed span {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    margin: 5px auto
}

.header .navbar-collapse {
    margin-top: 38px;
    background-color: #eaeced
}

.btn-icon {
    background: transparent;
    border: none;
    border-radius: 0
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
}

@media(max-width: 1259.98px) {
    .header .nav-container {
        padding: 0;
        max-width: unset
    }

    .header .navbar-nav {
        min-height: calc(100vh - 94px)
    }
}

@media(min-width: 1260px) {
    .header {
        height: unset
    }

    .header .header-bg {
        height: 70px
    }

    .header .header-bg:after {
        height: 44px
    }

    .header .top-button-container {
        left: 264px;
        padding: 4px 0
    }

    .header .top-button-container .link-btn {
        color: #fff;
        padding: 5px 20px
    }

    .header .top-button-container .link-btn:hover {
        color: #f26b30
    }

    .header .top-button-container .header--top-links-dropdown .dropdown-toggle {
        line-height: 20px
    }

    .header .hot-button-container {
        top: 38px;
        left: unset;
        height: 44px;
        padding-left: 0;
        padding-right: 0
    }

    .header .hot-button-container:before {
        display: none
    }

    .header .hot-button-container .btn-icon {
        display: flex;
        flex-direction: row;
        align-items: center
    }

    .header .hot-button-container .btn-icon svg {
        margin-right: 10px
    }

    .header .hot-button-container .btn-icon-order-create {
        display: flex;
        flex-direction: row;
        align-items: center
    }

    .header .hot-button-container .btn-icon-order-create svg {
        margin-right: 10px
    }

    .header .navbar-brand {
        display: block;
        align-self: start;
        width: 160px;
        height: 70px;
        padding: 15px 0
    }

    .header .navbar-brand img {
        height: 40px
    }

    .header .sidebar-toggle {
        display: none
    }

    .header .navbar-collapse {
        position: relative;
        margin-left: 100px
    }

    .header .navbar-collapse:before {
        position: absolute;
        content: " ";
        top: 0;
        left: -64px;
        width: 64px;
        height: 32px;
        background: #154476;
        border-bottom: 32px solid #eaeced;
        border-left: 64px solid transparent
    }

    .header .navbar-nav {
        display: flex
    }

    .header .navbar-nav .nav-item {
        border: none
    }

    .header .navbar-nav .nav-item>.nav-link {
        position: relative;
        height: 44px;
        padding: 10px 30px
    }

    .header .navbar-nav .nav-item>.nav-link>svg {
        width: 16px;
        height: 16px;
        margin-bottom: 2px
    }

    .header .navbar-nav .nav-item>.nav-link.active {
        background: none;
        color: #212529
    }

    .header .navbar-nav .nav-item>.nav-link.active:after {
        content: " ";
        position: absolute;
        display: block;
        height: 4px;
        bottom: 0;
        left: 0;
        right: 0;
        background: #f26b30
    }

    .header .navbar-nav .nav-item.dropdown .dropdown-toggle {
        position: relative;
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        color: #212529;
        font-weight: 400;
        font-size: 1rem
    }

    .header .navbar-nav .nav-item.dropdown .dropdown-toggle:after {
        position: unset;
        margin-left: 5px
    }

    .header .navbar-nav .nav-item.dropdown .dropdown-toggle:hover {
        color: #f26b30
    }

    .header .navbar-nav .nav-item.dropdown .dropdown-toggle:focus {
        outline: none;
        color: #f26b30
    }

    .header .navbar-nav .nav-item.dropdown .dropdown-toggle:focus:before {
        border: 1px dotted;
        border-radius: 3px;
        content: "";
        display: block;
        height: calc(100% - 2px);
        left: 1px;
        pointer-events: none;
        position: absolute;
        top: 1px;
        width: calc(100% - 2px)
    }

    .header .navbar-nav .nav-item.dropdown .dropdown-menu {
        margin-top: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: #154476;
        color: #fff
    }

    .header .navbar-nav .nav-item.dropdown .dropdown-item {
        color: #fff;
        padding: 10px 20px;
        border-top: 1px solid hsla(0, 0%, 100%, .4)
    }

    .header .navbar-nav .nav-item.dropdown .dropdown-item:hover {
        color: #f26b30
    }

    .header .hot-button-container .btn-icon-order-create {
        display: none
    }
}

@media only screen and (max-width: 500px) {
    .header .top-button-container .transport-registration-btn {
        display: none
    }

    .header .btn-icon span {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .575rem;
        color: #212529
    }

    .header .btn-icon span svg {
        width: 20px;
        height: 20px
    }

    .header .btn-icon-order-create span {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .575rem;
        color: #212529
    }

    .header .btn-icon-order-create span svg {
        width: 20px;
        height: 20px
    }
}

@media only screen and (max-width: 420px) {
    .header .hot-button-container .btn-icon span {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .575rem;
        color: #212529
    }

    .header .hot-button-container .btn-icon span svg {
        width: 20px;
        height: 20px
    }

    .header .hot-button-container .btn-icon-order-create span {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .575rem;
        color: #212529
    }

    .header .hot-button-container .btn-icon-order-create span svg {
        width: 20px;
        height: 20px
    }
}

@media only screen and (max-width: 345px) {
    .header .navbar-brand {
        width: 120px
    }

    .header .top-button-container {
        left: 149px
    }

    .header .hot-button-container {
        left: 120px
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav-link {
    display: block;
    padding: .5rem 1rem
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default
}

.nav-link {
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.nav-link:focus,
.nav-link:hover {
    border-color: #eaeced #eaeced #e2e2e2
}

.nav-item.show .nav-link,
.nav-link.active {
    color: #495057;
    background-color: #e2e2e2;
    border-color: #e2e2e2
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.nav-link {
    border-radius: 0
}

.nav-link.active,
.show>.nav-link {
    color: #fff;
    background-color: #154476;
}

.nav-item>.nav-link {
    flex: 1 1 auto;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.navbar {
    position: relative;
    padding: .5rem 1rem
}

.navbar,
.navbar .container,
.navbar .container-fluid,
.navbar,
.navbar,
.navbar,
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: 50%/100% 100% no-repeat
}

.position-relative {
    position: relative !important
}

.text-dropdown-toggle:after {
    content: none
}

.text-dropdown-toggle .text-dropdown-toggle--icon {
    width: 14px;
    margin-left: 5px;
    transition: all .2s ease-in-out;
    fill: #154476
}

.text-dropdown-toggle.white .text-dropdown-toggle--icon {
    fill: #fff
}

.text-dropdown-toggle.expanded .text-dropdown-toggle--icon,
.text-dropdown-toggle:hover .text-dropdown-toggle--icon {
    fill: #f26b30
}

.text-dropdown-toggle.expanded .text-dropdown-toggle--icon {
    transform: rotate(180deg)
}

.mr-1 {
    margin-right: .25rem !important
}

img {
    border-style: none
}

img,
svg {
    vertical-align: middle
}

svg {
    overflow: hidden
}


.d-xl-none {
    display: none !important
}

.d-xl-inline {
    display: inline !important;
}

.d-xl-block {
    display: block !important
}

.home-top-banner-section .slider-area .slick-arrow {
    display: none !important;
    width: 28px;
    height: 28px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.home-top-banner-section .slider-area .slick-arrow:hover {
    width: 50px;
    height: 50px
}

.home-top-banner-section .slider-area .slick-arrow.slick-next {
    right: 5px
}

.home-top-banner-section .slider-area .slick-arrow.slick-prev {
    left: 5px
}

.home-top-banner-section .slider-area .slick-dots {
    display: none !important;
    bottom: 20px
}

.home-top-banner-section .slider-area .slick-dots li {
    width: 14px;
    height: 14px
}

.home-top-banner-section .slider-area .slick-dots button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%
}

.home-top-banner-section .slider-area .slick-dots button:before {
    content: none
}

.home-top-banner-section .slider-area .slick-dots li.slick-active button:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%
}

.home-top-banner-section .overlay-area {
    position: absolute;
    top: 50%;
    width: 80%;
    left: 10%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.home-top-banner-section .overlay-area .heading {
    font-size: 30px
}

.home-top-banner-section .overlay-area .title {
    font-size: 1.125rem
}

.home-top-banner-section .overlay-area .sub {
    font-size: .875rem
}

.home-top-banner-section .overlay-area .tracking input {
    height: 51px
}