.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}


.footer {
    background-color: #313b46;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff
}

.footer .intro img {
    height: 40px;
    width: auto
}

.footer .intro .desc {
    margin-top: 20px;
    font-size: .9rem
}

.footer .heading {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 600
}

.footer .links-list {
    padding-top: 5px
}

.footer .links-list a {
    display: block;
    padding: 10px 0;
    font-size: .9rem;
    color: #f26b30;
    border-bottom: 1px solid #6c757d
}

.footer .links-list img {
    display: inline-block;
    height: 1rem;
    width: auto;
    padding-right: 15px
}

.footer .links-list li:last-child a {
    border-bottom: none
}

.footer .address {
    padding-top: 10px;
    font-size: .9rem
}

.footer .address p {
    margin-bottom: 5px
}

.footer .address p:last-child {
    margin-bottom: 0
}

.footer .payment {
    margin-top: 30px;
    display: inline-block;
    text-align: center
}

.footer .payment img {
    width: 80px;
    height: auto;
    padding: 8px
}

.footer .share {
    margin-top: 30px;
    display: inline-block;
    text-align: right
}

.footer .share img {
    height: 40px;
    width: auto;
    padding: 8px
}

@media(min-width: 768px) {
    .footer {
        padding-top: 60px;
        padding-bottom: 30px
    }

    .footer .heading {
        margin-top: 0
    }

    .footer .address,
    .footer .links-list {
        padding-top: 25px
    }

    .footer .address p {
        margin-bottom: 1rem
    }
}

.col-12,
.col-sm-8,
.col-md-3 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.offset-sm-2 {
    margin-left: 16.6666666667%
}

.offset-md-0 {
    margin-left: 0
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}