select option {
    padding: 2px 0; /* Điều chỉnh padding cho option */
}

.home-po-lookup-section {
    background: #fff;
    border: 1px solid #e2e2e2
  }
  
  .home-po-lookup-section {
    border: 1px solid #e2e2e2
  }
  
  .home-po-lookup-section {
    border-bottom: 1px solid #e2e2e2
  }
