.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px
}

.position-relative {
  position: relative!important
}

.col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%
}